
@media (min-width: 576px) {
  .figure-img {
    width: 30%;
    height: 35%;
    display: block;
    margin: 44px auto;
  }
}

@media(min-width: 768px) {
  .figure-img {
    width: 24%;
    height: 30%;
  }
}

@media(min-width: 1201px) {
  .figure-img {
    width: 20%;
    height: 25%;
  }
}

@media (max-width: 575px) {
  .figure-img {
      width: 185px;
      height: 235px;
      display: block;
      margin: 0 auto;
    }
}



